body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
/* NABVAR */
.navbar{
    background-color: #0984E3;
    height: 60px;
    border-bottom: 2px solid rgb(4, 126, 126);
}
.fixed-top{
    position:sticky;
    top: 0;
}
.navbar-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
}
.navbar-brand{
    height: 60px;
}
.navbar-brand-logo{
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f6f6;
}
.navbar-content-end{
    /* width: 80%; */
    align-items: right;
    text-align: right;
}
ul.navbar-nav{
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
ul.navbar-nav li.nav-item{
    padding: 10px 40px;
    margin: 10px 0px;
}
ul.navbar-nav li.nav-item a.nav-link{
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 900;
}
/* Top banner */
.top-banner{
    width: 90%;
    margin: 10px auto;
}
.d-flex{
    display: flex;
}
.w-50{
    width: 50%;
    float: left;
}
.banner-title{
    padding-top: 80px;
}
.banner-title h1{
    font-size: 60px;
    line-height: 30px;
}
.color-tomato{
    color: tomato;
}
.button-box{
    margin-top: 40px;
}
.button-link{
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
    background: linear-gradient(90deg,orange,tomato,red);
}
.text-center{
    text-align: center;
    align-items: center;
    float: right;
}
.top-right-image {
    width: 100%;
    margin: auto;
    text-align: center;
}
.top-right-image img{
    width: 80%;
}
/* About  */
#about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px;
    padding-top: 100px;

}
.container{
    width: 80%;
    margin: auto;
}
.about-image{
    text-align: center;
}
.about-image img{
    width: 50%;
}
.about-title{
    color: #707070;
    font-size: 40px;
}
.conact-now{
    margin: 80px 0px;
}
/* menu  */
.menu-box-top{
    text-align: center;
    width: 700px;
    margin: auto;
}
.menu-title{
    color: #676767;
    font-size: 40px;
}
.card{
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(0,0,0, 15%);
}
.tumbnail img{
    width: 100%;
    border-radius: 40px;
    height: 250px;
}
.card-body{
    height: 200px;
    overflow: hidden;
}
.food-name{
    color: #18191F;
    font-weight: 900;
}
.food-item-description{
   color: #18191F;
   line-height: 30px;
}
/* statics box  */
.statics-box{
    box-shadow: 0 0 40px rgba(0,0,0, 10%);
    border-radius: 20px;
    text-align: center;
    padding: 60px 165px;
    margin: 130px 0px;
    color: #18191F;
}
.statics-box>div{
    width: 33.33%;
}
.statics-box>div>h1{
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}
/* contact  */
#contact{
    background-color: #fafafa;
    padding: 20px 0;
}
.contact-title-section{
    text-align: center;
}
.contact-title-section h1{
    font-size: 48px;
    font-weight: 900;
}
.contact{
    width: 80%;
    margin: 40px;
    box-shadow: 0 0 40px rgba(0,0,0, 15%);
    padding: 30px;
    border-radius: 5px;
}
.input-box{
    padding: 10px 0px;
}
.input-box label{
    padding-bottom: 5px;
    width: 100%;
    display: block;
    font-weight: 900;
}
.input-box input{
    border: 1px solid rgba(0, 255, 255, 0.433);
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
    font-size: 17px;
}
.input-box input:focus,textarea:focus{
 outline: 1px solid yellowgreen;
}
.input-box textarea{
    border: 1px solid rgba(0, 255, 255, 0.433);
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
}
.contact-btn{
    border: none;
    background: linear-gradient(135deg,orange, tomato,red);
    padding: 10px 20px;
    color: whitesmoke;
    border-radius: 5px;
}
.footer{
    background-color: #0B0D17;
    color: whitesmoke;
    padding: 37px 0;
    text-align: center;
}
.color-gray{
    color: gray;
}